.searchPage
  width 100%
  height 100%
  position relative
  background #ffffff
  z-index 1
  .topBar
    width 100%
    display flex
    align-items center
    justify-content space-around
    background-color #fff
    height 44px
    padding 0 15px
    box-sizing border-box
    .input-box
      flex 1
      width 100%
      height 28px
      position relative
      background-color #ededed
      padding 0 10px
      border-radius 4px
      display flex
      align-items center
      .icon-search
        width 14px
        height 14px
        margin-right 5px
        display inline-block
        vertical-align middle
        background-image url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-553dba3aff.png)
        background-repeat no-repeat
        background-size 100% 100%
      .input
        color #666666
        border none
        outline none
        background-color transparent
        font-size 14px
      .clearIpt
        width 25px
        height 25px
        position absolute
        right 10px
        background-image url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/clearIpt-0821f71561.png)
        background-size 100%
        background-repeat no-repeat
        vertical-align middle
    .cancel
      color #333333
      margin-left 15px
      font-size 14px
  .searchHistory
    margin-bottom 10px
    padding 0 15px 15px
    background-color #fff
    overflow hidden
    .header
      height 45px
      font-size 14px
      color #999
      display flex
      align-items center
      .del-icon
        width 27px
        height 27px
        margin-left auto
        margin-right -3px
        display inline-block
        vertical-align middle
        background-image url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/del1-bc0cf01720.png)
        background-repeat no-repeat
        background-size 100%
    .list
      overflow hidden
      margin-right -15px
      margin-bottom -16px
      .item
        float left
        font-size 12px
        padding 0 8px
        margin-right 16px
        margin-bottom 16px
        line-height 23px
        border 1px solid #999
        border-radius 4px
        color #333