.mainPage
  width 100%
  height 100vh
  color #333
  background-color #F4F4F4
  .header
    width 100%
    height 135px
    background-image url(https://yanxuan.nosdn.127.net/d069279e5834bbca17065a9855a014bf.png)
    background-size 100%
    background-position bottom center
    padding-left 15px
    overflow hidden
    .m-info
      width 270px
      box-sizing border-box
      display flex
      align-items center
      padding 32px 0
      .avatar
        width 70px
        height 70px
        border-radius 50%
        vertical-align middle
      .info
        flex 1
        margin-left 15px
        line-height 1
        .nickName
          color #fff
          font-size 18px
          line-height 1.2
          margin-bottom 5px
          text-overflow ellipsis
          white-space nowrap
          overflow hidden
        .memberTitle
          color #fff
          font-size 14px
          vertical-align middle
  .myAsset
    background #fff
    border-bottom 10px solid #F4F4F4
    .tt
      width 100%
      font-size 14px
      margin-left 15px
      line-height 52px
      border-bottom 1px solid #D9D9D9
    .assetList
      height 80px
      display flex
      justify-content space-around
      .assetItem
        padding-top 16px
        .assetCount
          text-align center
          margin-bottom 2px
          font-size 16px
          line-height 24px
          font-weight 700
          .unit
            margin-right 2px
            font-size 12px
            line-height 18px
        .assetName
          font-size 12px
          line-height 18px
  .menu
    width 100%
    display flex
    flex-wrap wrap
    margin-bottom 20px 
    background-color #fff
    .item   
      border-right 1px solid rgba(0,0,0,.15)
      border-bottom 1px solid rgba(0,0,0,.15)
      .menuItem
        display block
        width 124px
        height 90px
        padding-top 22px
        box-sizing border-box
        text-align center
        img 
          width 25px
          height 25px
          vertical-align middle
          margin-bottom 8px
        .text
          display block
          font-size 12px
          line-height 1
          color #333
  .launchLogin
    width 100%
    .button
      width 100%
      height 48px
      color #333
      line-height 48px
      font-size 14px
      text-align center
      vertical-align middle
      cursor pointer
      outline 0
      border-radius 4px
      border 1px solid #fff
      background-color #fff

.blank
  width 100%
  height 62px