.app
  width 100%
  height 100%
  .tab-wrapper
    width 100%
    height 20px
    left 0
    bottom 0
    background #fff
    color green
    z-index 5
    position fixed
    display flex
    align-items center
    justify-content space-between
    