.stepperContainer
  display flex
  width 90px
  height 26px
  font-size 16px
  .stepperReduce
    width 30px
    text-align center
    vertical-align middle
    border 1px solid #aaaaaa
    background-color #fafafa
  .stepperCount
    width 30px
    text-align center
    vertical-align middle
    border 1px solid #aaaaaa
    background-color #fafafa
  .stepperAdd
    text-align center
    vertical-align middle
    width 30px
    // padding 4px 10px
    border 1px solid #aaaaaa
    background-color #fafafa
  .stepperCount
    background-color #ffffff  
