.stepperContainer
  display flex
  font-size 16px
  .stepperReduce
  .stepperCount
  .stepperAdd
    padding 4px 10px
    border 1px solid #aaaaaa
    background-color #fafafa
  .stepperCount
    background-color #ffffff  
