.cartContainer
  background-color #eeeeee
  height 90vh
  .cartHeader
    width 100%
    padding 0 20px
    box-sizing border-box
    background-color #ffffff
    line-height 50px
  .cartTips
    padding 0 20px
    line-height 40px
    background-color #fff8d8
    color #f48f18
    font-size 14px
    display flex
    justify-content space-between
  .cartOperation
    display flex
    justify-content space-between
    position fixed
    left 0
    right 0
    bottom 51px
    background-color #ffffff
    line-height 48px
    .selectAll
      margin-left 15px
      color #7f7f7f
      img
        padding-top 4px
        margin-right 6px
        width 20px
        height 20px
    .countAllPrice
      color #b4282d
    .overBooking
      width 112px
      text-align center
      background-color #b4282d
      color #ffffff
