.goodOptionsContainer
  height 65vh
  box-sizing border-box
  padding 15px
  background-color #ffffff
  .goodOptions-header
    display flex
    .goodInCartPic
      width 90px
      height 90px
      margin-right 10px
      img
        width 100%
    .goodInCartInfo
      display flex
      flex-direction column
      justify-content space-between
      font-size 14px
      .goodInCartInfo-spec
        font-size 12px
        color #7f7f7f 
        padding 3px
        border-radius 5px
        width 100%
        border 1px solid #dddddd
        background-color #fafafa
  .goodOptions-body
    margin-top 20px
    .options-color
      margin-bottom 20px
      .optionsText-color
        display flex
        margin-top 20px
        .oneColorOption
          border 1px solid #dddddd
          padding 5px 15px
          border-radius 3px
          margin-right 25px
        .colorActive
          color #b4282d
          border 1px solid #b4282d
    .options-count
      .options-countText
        margin-bottom 20px
  .confirmOptions
    position absolute
    bottom 0
    left 0
    right 0
    background-color #b4282d
    line-height 40px
    color #ffffff
    text-align center
